Xft.dpi: 200
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgba
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle:  hintfull

URxvt*iso14755: false

! URxvt settings
URxvt*font:              xft:Input Mono:size=10
URxvt*boldFont:          xft:Input Mono:style=bold:size=10
URxvt*loginShell:        true
URxvt*cursorUnderline:   true
URxvt*scrollBar:         false 
URxvt*letterSpace:       1
URxvt*termName:          xterm-256color
URxvt.buffered:          true
URxvt.perl-ext:          default,matcher
URxvt.urlLauncher:       /usr/bin/vivaldi
URxvt.matcher.button:    1
URxvt.internalBorder:    50
URxvt.externalBorder:    0

URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.clipboard.copycmd: xclip -i
URxvt.clipboard.pastecmd: xclip -o

URxvt*foreground:   #ffffff
URxvt*depth: 32
URxvt*background: [70]#000087

URxvt*cursorColor:  #ffffff

! URxvt*color0:       #2c3e50
! URxvt*color1:       #c0392b
! URxvt*color2:       #27ae60
! URxvt*color3:       #f39c12
! URxvt*color4:       #2980b9
! URxvt*color5:       #8e44ad
! URxvt*color6:       #16a085
! URxvt*color7:       #bdc3c7
! 
! URxvt*color8:       #34495e
! URxvt*color9:       #e74c3c
! URxvt*color10:      #2ecc71
! URxvt*color11:      #f1c40f
! URxvt*color12:      #3498db
! URxvt*color13:      #9b59b6
! URxvt*color14:      #2AA198
! URxvt*color15:      #ecf0f1


URxvt*color0:       #000087
URxvt*color1:       #870087
URxvt*color2:       #FF0087
URxvt*color3:       #FF5F87
URxvt*color4:       #FF8787
URxvt*color5:       #FFAF87
URxvt*color6:       #FFDF87
URxvt*color7:       #FFFF87
URxvt*color8:       #000087
URxvt*color9:       #870087
URxvt*color10:      #FF0087
URxvt*color11:      #FF5F87
URxvt*color12:      #FF8787
URxvt*color13:      #FFAF87
URxvt*color14:      #FFDF87
URxvt*color15:      #FFFF87

